h2{
    color: rgb(182, 48, 48);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 1em;
}
h3{
    color:rgb(139, 53, 53) ;
    padding: 1em;
}
.clase{
    background-color: bisque;
}

.font{
font-family: 'Open Sans', sans-serif;
}

p{
    color: rgb(51, 30, 30);
    padding: 3em;
    padding-top: 0em;
    font-size: larger;
    
}
.parallax {
    /* The image used */
    background-image: url("https://i.postimg.cc/Bbg92n7t/inicio.jpg");
  
    /* Set a specific height */
    min-height: 900px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }




    