h2{
    color: aquamarine;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.clase{
    background-color: bisque;
}

.font{
font-family: 'Open Sans', sans-serif;
}

p{
    color: brown;
}


    